<span class="#history# tooltips cmd" type="info" subtype="binary" title="#collectDate#" cmd_id="#id#">
    <center>
        #name# : <span class="binary" ></span>
        #unite#
    </center>

    <script>
        if ('#state#' == '1' || '#state#' == '0') {
            if ('#state#' == '1') {
                $('.cmd[cmd_id=#id#] .binary').addClass('green');
            }
            if ('#state#' == '0') {
                $('.cmd[cmd_id=#id#] .binary').addClass('red');
            }
        } else {
            $('.cmd[cmd_id=#id#] .binary').append('<span class="label label-danger">#state#</span>');
        }
    </script>

</span>