<div class="#history# tooltips cmd" data-type="info" data-subtype="binary" title="#collectDate#" data-cmd_id="#id#">
    <center>#name# : <span class="binary" ></span>
    #unite#</center>
    <script>
        $(function() {
            if ('#state#' == '1') {
                $('.cmd[data-cmd_id=#id#] .binary').addClass('green');
            } else if ('#state#' == '0') {
                $('.cmd[data-cmd_id=#id#] .binary').addClass('red');
            } else {
                $('.cmd[data-cmd_id=#id#] .binary').append('<span class="label label-danger">#state#</span>');
            }
        });
    </script>
</div>