<span class="cmd" type="action" subtype="slider" cmd_id="#id#">
    <div class="slider" style="margin : 5px 10px 8px 10px;" ></div>

    <script>
        $(function() {
            $(".cmd[cmd_id=#id#] .slider").off();
            $(".cmd[cmd_id=#id#] .slider").slider({
                range: "min",
                min: ('#minValue#' != '' && is_numeric(parseInt('#minValue#'))) ? parseInt('#minValue#') : 0,
                max: ('#maxValue#' != '' && is_numeric(parseInt('#maxValue#'))) ? parseInt('#maxValue#') : 100,
                value: ('#lastValue#' != '' && is_numeric(parseInt('#lastValue#'))) ? parseInt('#lastValue#') : 0,
                change: function(event, ui) {
                    execCmd('#id#', {slider: ui.value});
                }
            });
        });
    </script>
</span>