<span class="cmd #history# tooltips" data-cmd_id="#id#" data-type="info" data-subtype="numeric" title="#collectDate#" style="display: inline-block;">

    <span style="width:130px;height: 130px;display: inline-block;vertical-align: top;">
        <div id="cmd#id#"></div>
    </span>
    <center>
        <span style="vertical-align: top; display : inline;line-height: 1;padding: 0.2em 0.6em 0.3em;" >
            <span style="#displayHistory#" class="label label-default">
                <span title='Min' class='tooltips'>#minHistoryValue#</span>|<span title='Moyenne' class='tooltips'>#averageHistoryValue#</span>|<span title='Max' class='tooltips'>#maxHistoryValue#</span> <i class="#tendance#"></i>
            </span>
        </span>
    </center>

    <script>
        $(function() {
            $.include(['3rdparty/justGage/justgage.1.0.1.min.js', '3rdparty/justGage/raphael.2.1.0.min.js'], function() {
                if (is_numeric('#state#')) {
                    new JustGage({
                        id: "cmd#id#",
                        value: '#state#',
                        min: '#minValue#',
                        max: '#maxValue#',
                        title: "#name#",
                        label: "#unite#",
                        decimals: 1,
                        humanFriendly: true,
                        startAnimationTime: 0
                    });
                } else {
                    $('#cmd#id#').append('<span class="label label-danger">#state#</span>');
                }
            });
        });
    </script>

</span>
