<div class="eqLogic eqLogic-widget" data-eqLogic_id="#id#" data-version="dashboard" style="background-color: #background_color#" data-category="#category#">
    <span class="statusCmd" style="position : absolute;left : 5px; width : 30px;"></span>
    <center>
        <span style="font-size : 1.5em;"><a href="#eqLink#">#name#</a></span>
    </center>
    <div class="verticalAlign">
        <center>
            <span>#info#</span>
        </center>
        <center>
            #action#
        </center>
    </div>
</div>