<div class="eqLogic eqLogic-widget" data-eqLogic_id="#id#" data-version="dashboard" style="background-color: #background_color#">
    <center>
        <span style="font-weight:bold;"><a href="#eqLink#">#name#</a></span>
    </center>
    <span>#info#</span>
    <center>
        #action#
    </center>
    <script>
        $(function() {
            var maxHeight = 0;
            $('.eqLogic[data-eqLogic_id=#id#] .cmd-widget').each(function() {
                if ($(this).height() > maxHeight) {
                    maxHeight = $(this).height();
                }
            });
            $('.eqLogic[data-eqLogic_id=#id#] .cmd-widget').height(maxHeight);
        });
    </script>
</div>