<div class="dashboard-widget scenario" scenario_id="#id#" version="dashboard" style="margin-top: 0px;width: 270px;">
    <span style="font-weight:bold;">

        <a class="btn btn-success btn-xs changeScenarioState tooltips" state="activate" scenario_id="#id#" title="Activer" style="display: none;"><i class="fa fa-power-off"></i></a>
        <a class="btn btn-danger btn-xs changeScenarioState tooltips" state="deactivate" scenario_id="#id#" title="Desactiver" style="display: none;"><i class="fa fa-power-off"></i></a>
        <a class="btn btn-success btn-xs changeScenarioState" state="start" scenario_id="#id#" style="display: none;">On</a>
        <a class="btn btn-danger btn-xs changeScenarioState" state="stop" scenario_id="#id#" style="display: none;">Off</a>

        <a href="#scenarioLink#" class="tooltips" title="Dernier lancement : #lastLaunch#">#name#</a>
    </span>
    <span class="state pull-right binary" style="width : 15px;"></span>

    <script>
        $('.changeScenarioState[scenario_id=#id#]').on('click', function() {
            changeScenarioState($(this).attr('scenario_id'), $(this).attr('state'));
        });
        if ('#isActive#' == '1') {
            if ('#state#' == 'on') {
                $('.changeScenarioState[scenario_id=#id#][state=start]').show();
                $('.changeScenarioState[scenario_id=#id#][state=deactivate]').show();
                $('.scenario[scenario_id=#id#] .state').addClass('green');
            }
            if ('#state#' == 'in progress') {
                $('.changeScenarioState[scenario_id=#id#][state=stop]').show();
                $('.changeScenarioState[scenario_id=#id#][state=deactivate]').show();
                $('.scenario[scenario_id=#id#] .state').addClass('blue');
            }
            if ('#state#' == 'error') {
                $('.changeScenarioState[scenario_id=#id#][state=start]').show();
                $('.changeScenarioState[scenario_id=#id#][state=deactivate]').show();
                $('.scenario[scenario_id=#id#] .state').addClass('orange');
            }
            if ('#state#' == 'stop') {
                $('.changeScenarioState[scenario_id=#id#][state=start]').show();
                $('.changeScenarioState[scenario_id=#id#][state=deactivate]').show();
                $('.scenario[scenario_id=#id#] .state').addClass('red');
            }
        } else {
            $('.scenario[scenario_id=#id#] .state').addClass('grey');
            $('.changeScenarioState[scenario_id=#id#][state=activate]').show();
        }
    </script>
</div>