<div class="dashboard-widget scenario" data-scenario_id="#id#" data-version="dashboard" style="margin-top: 0px;width: 270px;">
    <span style="font-weight:bold;">

        <a class="btn btn-success btn-xs changeScenarioState tooltips" data-state="activate" title="Activer" style="display: none;"><i class="fa fa-power-off"></i></a>
        <a class="btn btn-danger btn-xs changeScenarioState tooltips" data-state="deactivate" title="Desactiver" style="display: none;"><i class="fa fa-power-off"></i></a>
        <a class="btn btn-success btn-xs changeScenarioState" data-state="start" style="display: none;">On</a>
        <a class="btn btn-danger btn-xs changeScenarioState" data-state="stop" style="display: none;">Off</a>

        <a href="#scenarioLink#" class="tooltips" title="Dernier lancement : #lastLaunch#" style="font-size: 0.9em;">#name#</a>
    </span>
    <span class="state pull-right binary" style="width : 15px;"></span>

    <script>
        $('.scenario[data-scenario_id=#id#] .changeScenarioState').on('click', function() {
            changeScenarioState($(this).closest('.scenario').attr('data-scenario_id'), $(this).attr('data-state'));
        });
        if ('#isActive#' == '1') {
            if ('#state#' == 'in progress') {
                $('.scenario[data-scenario_id=#id#] .changeScenarioState[data-state=stop]').show();
                $('.scenario[data-scenario_id=#id#] .changeScenarioState[data-state=deactivate]').show();
                $('.scenario[data-scenario_id=#id#] .state').addClass('blue');
            }
            if ('#state#' == 'error') {
                $('.scenario[data-scenario_id=#id#] .changeScenarioState[data-state=start]').show();
                $('.scenario[data-scenario_id=#id#] .changeScenarioState[data-state=deactivate]').show();
                $('.scenario[data-scenario_id=#id#]] .state').addClass('orange');
            }
            if ('#state#' == 'stop') {
                $('.scenario[data-scenario_id=#id#] .changeScenarioState[data-state=start]').show();
                $('.scenario[data-scenario_id=#id#] .changeScenarioState[data-state=deactivate]').show();
                $('.scenario[data-scenario_id=#id#] .state').addClass('yellow');
            }
        } else {
            $('.scenario[data-scenario_id=#id#] .changeScenarioState[data-state=activate]').show();
            $('.scenario[data-scenario_id=#id#] .state').addClass('grey');
        }
    </script>
</div>