<span class="cmd" type="action" subtype="slider" cmd_id="#id#">
    <div class="slider" style="width: 96%;text-align: right;min-width : 200px;">
        <input type="range" min="#minValue#" max="#maxValue#" data-highlight="true" data-theme="a" value="#state#"/>
    </div>

    <script>
        $(function() {
            $('.cmd[cmd_id=#id#] .slider').on("slidestop", function(event, ui) {
                execCmd('#id#', {slider: $(this).find('input').value()});
            });
        });
    </script>
</span>