<span class="cmd" data-type="info" data-subtype="string" data-cmd_id="#id#">
    <a href="#tooltipsCmd#id#" data-rel="popup" data-transition="pop" class="ui-btn ui-btn-icon-notext ui-corner-all ui-icon-info ui-btn-inline" style="margin-right: 0em;"></a>
    <span style="width:200px;display: inline-block;position: relative; top : 14px;" >
        <span class='ui-bar ui-bar-a' style="font-size: 1.3em;margin-bottom: auto;margin-top : auto;">#name# : #state#</span>
    </span>

    <div data-role="popup" id="tooltipsCmd#id#" class="ui-content" data-theme="a" style="max-width:350px;">
        #collectDate#
    </div>
</span>