<div class="cmd" data-type="info" data-subtype="string" data-cmd_id="#id#">

    <span style="display : inline;white-space: nowrap;">
        <a href="#tooltipsCmd#id#" data-rel="popup" data-transition="pop" class="ui-btn ui-btn-icon-notext ui-corner-all ui-icon-info ui-btn-inline" style="margin-top: -20px;"></a>
        <span class='ui-bar ui-bar-a' style="font-size: 1.3em;display: inline-block;">#name# : #state# #unite#</span>
    </span>

    <div data-role="popup" id="tooltipsCmd#id#" class="ui-content" data-theme="a" style="max-width:350px;">
        #collectDate#
    </div>
</div>