<span class="info" cmd_id="#id#" >
    <span class="#class# tooltips" cmd_id="#id#" title="#collectDate#">
        <center>
            <a href="#tooltipsCmd#id#" data-rel="popup" data-transition="pop" class="ui-btn ui-btn-icon-notext ui-corner-all ui-icon-info ui-btn-inline"></a>
            #name# : <span class="binary"  type="binary" ></span>
            #unite#
        </center>

        <div data-role="popup" id="tooltipsCmd#id#" class="ui-content" data-theme="a" style="max-width:350px;">
            #collectDate#
        </div>
    </span>
</span>

<script>
    if ('#state#' == '1' || '#state#' == '0') {
        if ('#state#' == '1') {
            $('span[cmd_id=#id#] span[type=binary]').addClass('green');
        }
        if ('#state#' == '0') {
            $('span[cmd_id=#id#] span[type=binary]').addClass('red');
        }
    } else {
        $('span[cmd_id=#id#] span[type=binary]').append('<span class="label label-danger">#state#</span>');
    }
</script>