<span class="cmd" type="info" subtype="string" cmd_id="#id#">
    <a href="#tooltipsCmd#id#" data-rel="popup" data-transition="pop" class="my-tooltip-btn ui-btn ui-alt-icon ui-nodisc-icon ui-btn-inline ui-icon-info ui-btn-icon-notext"></a>
    <span style="width:200px;display: inline-block;position: relative; top : 14px;" >
        <center> 
            <span class='ui-bar ui-bar-a' style="font-size: 1.3em;margin-bottom: auto;margin-top : auto;">#name# : #state#</span>
        </center>
    </span>

    <div data-role="popup" id="tooltipsCmd#id#" class="ui-content" data-theme="a" style="max-width:350px;">
        #collectDate#
    </div>
</span>