<span>
    <span class="info" cmd_id="#id#">
        <center> 
            <a href="#tooltipsCmd#id#" data-rel="popup" data-transition="pop" class="my-tooltip-btn ui-btn ui-alt-icon ui-nodisc-icon ui-btn-inline ui-icon-info ui-btn-icon-notext"></a>
            #name# : #state# 
        </center>

        <div data-role="popup" id="tooltipsCmd#id#" class="ui-content" data-theme="a" style="max-width:350px;">
            #collectDate#
        </div>
    </span>
    <span class="collectDate" style="width:140px;font-size: 0.85em;">
        #collectDate#
    </span>
</span>