<span class="cmd" type="action" subtype="slider" cmd_id="#id#" style="display: inline-block;">
    <div class="slider" style="width: 100%;text-align: right;">
        <input type="range" min="0" max="100" data-highlight="true" data-theme="a" />
    </div>

    <script>
        if ('#lastValue#' != '') {
            $('.cmd[cmd_id=#id#] .slider').attr('value', '#lastValue#');
        }
        $('.cmd[cmd_id=#id#] .slider').on("slidestop", function(event, ui) {
            execCmd('#id#', {slider: $(this).find('input').value()});
        });
    </script>
</span>