<span class="cmd" data-type="action" data-subtype="other" data-cmd_id="#id#" >
    <a class="action ui-btn ui-mini" style="margin: 8px 8px;" >#name#</a>

    <script>
        $(function() {
            $('.cmd[data-cmd_id=#id#] .action').click(function() {
                execCmd('#id#', '');
            });
            var name = "#name#";
            if (name.toLowerCase().indexOf('off') >= 0 || name.toLowerCase().indexOf('descendre') >= 0) {
                $('.cmd[data-cmd_id=#id#] .action').addClass('ui-btn-b');
            }
            if (name.toLowerCase().indexOf('on') >= 0) {
                $('.cmd[data-cmd_id=#id#] .action').addClass('ui-btn-a');
            }
        });
    </script>
</span>