<div class="scenario scenario-widget" data-scenario_id="#id#" data-version="mobile" style="min-height: 150px;">
    <center>
        #name#
        <br/>
        <span class="state" style="font-size: 2em;"></span>
        <br/>
        <a class="ui-btn ui-btn-a ui-mini ui-btn-inline changeScenarioState" data-state="start" style="display: none;"><i class="fa fa-play"></i></a>
        <a class="ui-btn ui-btn-b ui-mini ui-btn-inline changeScenarioState" data-state="stop" style="display: none;"><i class="fa fa-stop"></i></a>
        <a class="ui-btn ui-btn-a ui-mini ui-btn-inline changeScenarioState" data-state="activate" style="display: none;"><i class="fa fa-power-off"></i></a>
        <a class="ui-btn ui-btn-b ui-mini ui-btn-inline changeScenarioState" data-state="deactivate" style="display: none;"><i class="fa fa-power-off"></i></i></a>
    </center>
    <script>
        $('.scenario[data-scenario_id=#id#] .changeScenarioState').on('click', function() {
            scenario.changeState($(this).closest('.scenario').attr('data-scenario_id'), $(this).attr('data-state'));
        });
        if ('#isActive#' == '1') {
            if ('#state#' == 'in progress') {
                $('.scenario[data-scenario_id=#id#] .changeScenarioState[data-state=stop]').show();
                $('.scenario[data-scenario_id=#id#] .changeScenarioState[data-state=deactivate]').show();
                $('.scenario[data-scenario_id=#id#] .state').empty().append('<i class="fa fa-spinner fa-spin"></i>');
            }
            if ('#state#' == 'error') {
                $('.scenario[data-scenario_id=#id#] .changeScenarioState[data-state=start]').show();
                $('.scenario[data-scenario_id=#id#] .changeScenarioState[data-state=deactivate]').show();
                $('.scenario[data-scenario_id=#id#] .state').empty().append('<i class="fa fa-exclamation-triangle"></i>');
            }
            if ('#state#' == 'stop') {
                $('.scenario[data-scenario_id=#id#] .changeScenarioState[data-state=start]').show();
                $('.scenario[data-scenario_id=#id#] .changeScenarioState[data-state=deactivate]').show();
                $('.scenario[data-scenario_id=#id#] .state').empty().append('<i class="fa fa-check"></i>');
            }
        } else {
            $('.scenario[data-scenario_id=#id#] .changeScenarioState[data-state=activate]').show();
            $('.scenario[data-scenario_id=#id#] .state').empty().append('<i class="fa fa-times"></i>');
        }
    </script>
</div>
