<span class="cmd" type="info" subtype="numeric" cmd_id="#id#" style="width:140px;height: 140px;" >
    <script type="text/javascript" src="modules/widget/3rdparty/jquery.mobile.tolito/tolito.js" ></script>
    <link rel="stylesheet" href="modules/widget/3rdparty/jquery.mobile.tolito/tolito.css" />

    <div style="width:140px;display: inline-block;" class="#history#" cmd_id="#id#" >
        <div id="cmd#id#"></div>
        <span class="collectDate" style="width:140px;font-size: 0.85em; #displayHistory#">
            <i class="#collectInProgress#"></i>
            <span>#minHistoryValue#</span>|<span>#averageHistoryValue#</span>|<span>#maxHistoryValue#</span> <i class="#tendance#"></i>
        </span><br/>
        <span class="collectDate" style="width:140px;font-size: 0.85em;">
            #collectDate#
        </span>
    </div>

    <script>
        var value = ('#state#' != '' && is_numeric(parseInt('#state#'))) ? parseInt('#state#') : 0;
        var maxValue = ('#maxValue#' != '' && is_numeric(parseInt('#maxValue#'))) ? parseInt('#maxValue#') : 100;
        var minValue = ('#minValue#' != '' && is_numeric(parseInt('#minValue#'))) ? parseInt('#minValue#') : 0;
        TolitoProgressBar('cmd#id#')
                .setOuterTheme('b')
                .setInnerTheme('e')
                .setMax(maxValue)
                .setStartFrom(value)
                .showCounter(true)
                .logOptions()
                .build();
    </script>

</span>