<input class="title expressionAttr form-control input-sm" data-l1key="options" data-l2key="title" placeholder="Title" value="#title#" data-cmd_id="#id#" data-uid="#uid#"/>
<textarea class="message expressionAttr form-control" data-l1key="options" data-l2key="message" style="margin-top : 5px; resize:vertical" placeholder="Message" data-cmd_id="#id#" data-uid="#uid#">#message#</textarea>
<a class="btn btn-default form-control listEquipementInfo cursor" data-cmd_id="#id#" data-uid="#uid#" style="margin-top : 5px;"><i class="fa fa-list-alt"></i> Rechercher équipement</a>
<script>
    $('.listEquipementInfo[data-uid=#uid#]').on('click', function() {
        var el = $(this);
        cmd.getSelectModal({type: 'info'}, function(result) {
            el.parent().find('.expressionAttr[data-l1key=options][data-l2key=message]').value(el.parent().find('.expressionAttr[data-l1key=options][data-l2key=message]').value() + ' ' + result.human);
        });
    });
</script>