<input class="title expressionAttr form-control input-sm" data-l1key="options" data-l2key="title" placeholder="Title" value="#title#" data-cmd_id="#id#" data-uid="#uid#"/>
<textarea class="message expressionAttr form-control input-sm" data-l1key="options" data-l2key="message" rows="2" style="margin-top : 5px; resize:vertical;height: 50px;" placeholder="Message" data-cmd_id="#id#" data-uid="#uid#">#message#</textarea>
<a class="btn btn-default btn-xs listEquipementInfo cursor" data-cmd_id="#id#" data-uid="#uid#" style="margin-top : 5px;width: 100%"><i class="fa fa-list-alt"></i> {{Rechercher équipement}}</a>
<script>
    $('.listEquipementInfo[data-uid=#uid#]').on('click', function() {
        var el = $(this);
        jeedom.cmd.getSelectModal({cmd: {type: 'info'}}, function(result) {
            el.parent().find('.expressionAttr[data-l1key=options][data-l2key=message]').atCaret('insert', result.human);
        });
    });
</script>