<input type="color" class="expressionAttr form-control input-sm cursor" data-l1key="options" data-l2key="color" value="#color#" data-uid="#uid#" />
<a class="btn btn-default form-control listEquipementInfo cursor" data-cmd_id="#id#" data-uid="#uid#" style="margin-top : 5px;"><i class="fa fa-list-alt"></i> {{Rechercher équipement}}</a>
<script>
    $('.listEquipementInfo[data-uid=#uid#]').on('click', function() {
        var el = $(this);
        jeedom.cmd.getSelectModal({cmd: {type: 'info'}}, function(result) {
            el.parent().find('.expressionAttr[data-l1key=options][data-l2key=color]').value(result.human);
        });
    });
</script>