<div class="row">
    <div class="col-md-6">
        <input type="color" class="form-control input-xs cursor colorChooser" data-uid="#uid#" value="#color#"/>
    </div>
    <div class="col-md-6">
        <input class="expressionAttr form-control input-xs" data-l1key="options" data-l2key="color" value="#color#" data-uid="#uid#"/>
    </div>
</div>
<a class="btn btn-default input-xs form-control listEquipementInfo cursor" data-cmd_id="#id#" data-uid="#uid#" style="margin-top : 3px;"><i class="fa fa-list-alt"></i> {{Rechercher équipement}}</a>
<script>
    $('.listEquipementInfo[data-uid=#uid#]').on('click', function () {
        var el = $(this);
        jeedom.cmd.getSelectModal({cmd: {type: 'info'}}, function (result) {
            el.parent().find('.expressionAttr[data-l1key=options][data-l2key=color]').value(result.human);
        });
    });

    $('.colorChooser[data-uid=#uid#]').on('change', function () {
        $('.expressionAttr[data-uid=#uid#][data-l1key=options][data-l2key=color]').value($(this).value())
    });
</script>