<span class="expressionAttr" data-l1key="options" data-l2key="icon" data-cmd_id="#id#" style="margin-top : 5px;width: 20px;font-size: 1.8em;margin-left : 10px;"></span>
<a class="btn btn-default bt_chooseIcon cursor" data-cmd_id="#id#" style="margin-top : 5px;display : inline-block;margin-left : 60px;"><i class="fa fa-flag"></i> {{Rechercher icone}}</a>
<script>
    $('.bt_chooseIcon').off();
    $('.bt_chooseIcon').on('click', function() {
        var el = $(this);
        chooseIcon(function(_icon) {
            el.parent().find('.expressionAttr[data-l1key=options][data-l2key=icon]').append(_icon);
        });
    });
</script>
