.cursor{
    cursor : pointer;
}

/* Themes for different contexts */
.alert {
    border-left: 5px solid #F3E5A7;
}

.alert-danger {
    border-left: 5px solid #DFAAA9;
}

.alert-info {
    border-left: 5px solid #B3D7EF;
}
.alert-success {
    border-left: 5px solid #94C680;
}

.pull-right{
    float: right;
    margin-left: 5px;
}

.pull-left{
    float: left;
    margin-right: 5px;
}

.form-actions{
    margin-top: 5px;
}

.dashboard-widget{
    display: inline-block;
    vertical-align: top;
    padding: 9.5px;
    margin: 0 5px 5px;
    font-size: 13px;
    line-height: 20px;
    border: 1px solid rgba(0,0,0,0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .dashboard-widget {
        float : left;
    }
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading{
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin input[type="text"]:focus,
.form-signin input[type="password"]:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Docs sidebar
-------------------------------------------------- */

/* First level of nav */
.bs-sidenav {
    margin-bottom: 10px;
    padding:    10px;
    text-shadow: 0 1px 0 #fff;
    background-color: #f5f5f5;
    border-radius: 5px;
}
.bs-sidebar.affix {
    position: static;
}

/* All levels of nav */
.bs-sidebar .nav > li > a:not(.btn) {
    display: block;
    color: #716b7a;
    padding: 5px 20px;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
    text-decoration: none;
    background-color: #e5e3e9;
    border-right: 1px solid #dbd8e0;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
    font-weight: bold;
    color: #563d7c;
    background-color: transparent;
    border-right: 1px solid #563d7c;
}
.bs-sidebar .nav .nav > li > a {
    padding-top:    3px;
    padding-bottom: 3px;
    padding-left: 30px;
    font-size: 90%;
}
.bs-sidebar .bs-sidenav {
    margin-top: 0;
    margin-bottom: 10px;
}

@media (min-width: 1200px) {
    .bs-sidebar .nav > .active > ul {
        display: block;
    }
    .bs-sidebar.affix, .bs-sidebar.affix-bottom {
        width: 193px;
    }
    .bs-sidebar.affix {
        position: fixed;
        top: 60px;
    }
    .bs-sidebar.affix-bottom {
        position: absolute;
    }
    .bs-sidebar.affix-bottom .bs-sidenav, .bs-sidebar.affix .bs-sidenav {
        margin-bottom: 10px;
        margin-top: 0;
    }
}
@media (min-width: 1600px) {
    .bs-sidebar.affix-bottom, .bs-sidebar.affix {
        width: 263px;
    }
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto 15px;
  /* Pad bottom by footer height */
  padding: 0 0 40px;
}

