<span class="cmd" type="action" subtype="slider" cmd_id="#id#" style="margin-top : 3px;">
    <script type="text/javascript" src="modules/widget/3rdparty/jquery.knob/jquery.knob.js" ></script>

    <center>
        <input type="text" class="knob">
    </center>  

    <script>
        $(function() {
            var value = ('#lastValue#' != '' && is_numeric(parseInt('#lastValue#'))) ? parseInt('#lastValue#') : 0;
            var maxValue = ('#maxValue#' != '' && is_numeric(parseInt('#maxValue#'))) ? parseInt('#maxValue#') : 100;
            var minValue = ('#minValue#' != '' && is_numeric(parseInt('#minValue#'))) ? parseInt('#minValue#') : 0;

            $(".cmd[cmd_id=#id#] .knob").val(value).knob({
                min: minValue,
                max: maxValue,
                width: 120,
                height: 120,
                release: function(v) {
                    execCmd('#id#', {slider: v});
                }
            });
        });
    </script>

</span>























